{% extends '::base.html.twig' %}

{% set chosenCity = app.request.attributes.has('city')
        ? app.request.attributes.get('city')
        : defaultcity
%}

{% block stylesheets %}
    {% stylesheets '@TestBundle/Resources/public/css/normalizar.css'
                   '@TestBundle/Resources/public/css/comun.css'
                   '@TestBundle/Resources/public/css/frontend.css'
                   output='css/frontend.css' %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}
{% block javascripts %}{% endblock %}

{% block body %}
<header>
    {#<h1><a href="{{ path('front', { 'city': chosenCity }) }}">Symfony</a></h1>#}
    <h1><a href="{ path( 'front_shop' )}">Symfony</a></h1>
    <nav>
        <ul>
           <li><a href="{{ path('recent_cities', { 'city': chosenCity }) }}">Ofertes recents</a></li>
           {#<li><a href="{{ path('offer', { 'city': chosenCity }) }}">Oferta del dia</a></li>#}
            {# <li><a href="{{ path('front_shop', { 'city': chosenCity }) }}">Oferta del dia</a></li>#}
           {# <li><a href="{{ path('front_shop', { 'city': chosenCity }) }}">Oferta del dia</a></li>
            {#<li><a href="{{ path('#') }}">Les meves ofertes</a></li>

            <li>{% render "TestBundle:Default:cityList"
                with {'city': chosenCity} %}</li>#}
        </ul>
    </nav>
</header>

<article>
    {% block article %}{% endblock %}
</article>

<aside>
    {% block aside %}{% endblock %}
</aside>
{% endblock %}