Productos webpage
<br>
<br>
<h1>Listado de Productos</h1>
<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>price</th>
        <th>description</th>
    </tr>
    {% for Product in products %}
        <tr>
            <td>{{ Product.id }}</td>
            <td>{{ Product.name }}</td>
            <td>{{ Product.price }}</td>
            <td>{{ Product.description }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<a href="{{ path('test_homepage') }}">ir a base</a>
